.container-article {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex: 1;
}

.article {
    display: flex;
    margin-top: 90px;
    margin-right: 100px;
    margin-bottom: 137px;
}
.article__text--block {
    width: 600px;
}

.article__main-title {
    margin-top: 45px;
    color: #333;
    font-family: 'PT Sans Caption', Arial, sans-serif;
    font-size: 36px;
    line-height: 48px;
    width: 445px;
    font-weight: bold;
}

.article__second--text {
    color: #999;
    font-size: 14px;
    margin-top: 15px;
    width: 445px;
}

.article__list--block {
    margin-left: 20px;
    margin-top: 47px;
    font-size: 18px;
    line-height: 33px;
}

.article__list--string {
    margin-bottom: 2px;
}

.article__button--block {
    margin-top: 65px;
    align-items: center;
    display: flex;
    flex-direction: row;
    margin-right: 32px;
}

.article__button {
    display: flex;
    white-space: nowrap;
}

.article__button__try-free {
    font-weight: bold;

    align-items: center;

    background: linear-gradient(180deg, #F76201 0%, #FF4D00 100%);
    color: #FFFFFF;
    border-radius: 45px;

    padding: 15px 32px 15px 32px;

    margin-right: 32px;
    text-align: left;
}

.help {
    color: #F76201;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    align-items: center;
}

.article__image {
    display: flex;
    flex: 1;
    align-items: center;
    width: 670px;
    height: 470px;
    margin-top: 35px;
}

.article__image--img {
    max-width: 100%;
    max-height: 100%;
}