
/*======================================= блок верхнего меню навигации ===============================================*/
.nav-top {
    background: #F4F4F4;
    display: flex;
    flex: 1;
}

.nav-top__menu--left {
    display: flex;
    flex-grow: 1;
    align-items: center;
    max-width: 40%;
}

.nav-top__menu--right {
    text-align: right;
    align-items: center;
    display: flex;
    align-content: center;
    margin-left: 45px;
}

.nav-top__menu {
    display: flex;
    padding-top: 15px;
    padding-bottom: 16px;
    font-size: 14px;
}

.nav-top__link--ico {
    width: 12px;
    height: 8px;
}

.nav-top__download-ico {
    width: 14px;
    height: 14px;
}

.nav-top__help{
    color: #178A00;
    font-style: normal;
    margin-left: 10px;
}

.nav-top__link {
    text-decoration: none;
    font-style: normal;
    font-size: 14px;
    color: #6F6F6F;
    margin-right: 25px;
    align-content: center;
}

.nav-top__link--FAQ {
    margin-left: 18px;
}

.nav-top__link:last-child {
    margin-right: 0;
}

.nav-top__link--download {
    margin-right: 35px;
}

.nav-top__link--massage {
    margin-left: 14px;
    padding-right: 16px;
}

.nav-top__search__ico {
    width: 16px;
    height: 16px;
    align-items: center;
}

.nav-top__lang {
    display: flex;
    flex-direction: row;
    font-weight: 700;
    color: #F76201;
    text-decoration: none;
    text-align: center;
    align-items: center;
    margin-left: 34px;
}

.nav-top__lang__ico {
    padding-left: 5px;
    width: 14px;
    height: 8px;
    text-align: center;
    align-items: center;
}

.nav-top__massage {
    width: 16px;
    height: 11px;
}

.nav-top__search {
    flex-direction: row;
    align-items: center;
    display: flex;
    padding: 7px 6px;
    border: 1px solid #B6B6B6;
    border-radius: 45px;

}

.nav-top__search__ico {
    width: 16px;
    height: 16px;
    max-width: 5%;
}

.nav-top input {
    margin-left: 6px;
    margin-right: 20px;
    border: none;
    background: #F4F4F4;
    max-width: 95%;
}