.comparison {
    align-items: center;
}

.comparison__comparison-title {
    font-family: 'PT Sans Caption', Arial, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 41px;
}

.comparison-table__table-box {
    margin-top: 60px;
    display: flex;
}

.comparison-column {
    height: 100%;
    width: 100%;
}

.column-variable {
    margin-top: 76px;
}

.cell {
    font-size: 18px;
    line-height: 20px;
    border-top: 1px solid #E4E4E4;

    padding: 16px 0 16px 27px;

    align-items: center;
    align-content: center;
    text-align: center;
}

.variable {
    font-size: 16px;
    line-height: 20px;

    text-align: left;
}

.variable-head-cell {
    font-size: 14px;
    line-height: 20px;
    width: 266px;
    color: #999999;
    margin-bottom: 20px;
}

.column-green {
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
    border-radius: 8px 8px 10px 10px;
    border-top: 8px solid #178A00;
}

.cloud-head-cell {
    display: flex;
    align-items: center;

    padding: 20px 60px;
    text-align: center;
    margin-bottom: 50px;
}

.cloud-img__box {
    width: 73px;
    height: 78px;
}

.cloud_img {
    max-width: 100%;
    max-height: 100%;
}

.cloud-head-text {
    font-family: 'PT Sans Caption', Arial, sans-serif;
    font-weight: bold;
    font-size: 18px;
    line-height: 23px;

    color: #333333;
    width: 110px;

    margin-left: 30px;
}

.cloud-price {
    color: #178A00;
}

.price {
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 26px;

    align-items: center;
    text-align: center;
    text-decoration-line: underline;
}

.column-orange {
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
    border-radius: 8px 8px 10px 10px;
    border-top: 8px solid #F76201;
    margin-left: 23px;
}

.desktop-price {
    color: #F76201;
}