.tariffs-box {
    margin-top: 109px;
    display: flex;
}

.tariffs-title {
    font-family: 'PT Sans Caption', Arial, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 41px;
}

.selector {
    margin-top: 65px;
    display: flex;
    flex-direction: row;
    flex: 1;
    align-items: center;
}

.button {
    font-family: 'PT Sans Caption', Arial, sans-serif;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;

    border: 2px solid #F4F4F4;
    box-sizing: border-box;
    border-radius: 39px;
    align-items: center;
    padding: 15px 20px;
    margin-right: 22px;

    display: flex;
    flex-direction: row;
}

.button:hover {
    background: linear-gradient(180deg, #F76201 0%, #FF4D00 100%);
    border-radius: 39px;
    color: #FFFFFF;
}

.button-discount {
    background: linear-gradient(180deg, #F76201 0%, #FF4D00 100%);
    color: #FFFFFF;
    border-radius: 21px;
    margin-left: 12px;
    padding: 2px 8px;
}

.button-discount:hover {
    background: #FFFFFF;
    color: #F76201;
}