/*======================================= блок нижнего меню навигации ===============================================*/
.container-main {
    align-items: center;
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}

.nav-main {
    display: flex;
    flex-direction: row;
    flex: 1;
}

.nav-main__main--menu {
    display: flex;
    flex: 1;
    align-items: center;
    max-width: 80%;
    width: 900px;
}

.nav-main--menu--logo {
    margin-right: 40px;
}

.nav-main__menu--link {
    margin-right: 30px;
    margin-top: 30px;
    text-align: center;
}

.nav-main__main--link {
    display: flex;
    align-items: center;
    white-space: nowrap;
}

.main--link--theme {
    color: #178A00;
    align-items: center;
}

.mav-main__link--vector {
    width: 18px;
    height: 18px;
}

.vector-two {
    margin-left: 7px;
    width: 12px;
    height: 12px;
}

.nav-main__login {
    text-align: right;
    display: flex;
    flex-direction: row;
    flex: 1;
    align-items: center;
    justify-content: flex-end;
}

.nav-main__login--link {
    align-items: center;
    color: #F76201;
}

.nav-main__login--ico {
    width: 22px;
    height: 22px;
    padding-top: 5px;
    margin-top: 19px;
}

.nav-main__register {
    height: 48px;
    font-weight: bold;

    display: flex;
    align-items: center;

    background: linear-gradient(180deg, #F76201 0%, #FF4D00 100%);
    color: #FFFFFF;

    border-radius: 45px;
    padding: 0 45px;
    margin-left: 30px;
    margin-top: 19px;
}